{% extends "base_template.html" %}
{% block content %}
    <div class="page-header">Top tracks for "{{ artist }}" <a href="javascript:history.back()">back to artist list</a></div>
    {% for track in tracks %}

    <div class="row">

          <div class="col-xs-2 box">
            <a href="{{ track.url }}" class="thumbnail"><img src='{{ track.image.medium }}' height='100' width='100'/></a>
          </div>
          <div class="col-xs-2 box">{{ track.name }}</div>
          <div class="col-xs-2 box">played {{ track.playcount }} times</div>

    </div>
    {% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}
